---
title: Brandt Redd
layout: none
---
<!DOCTYPE html>
<html>

<head>
<title>{{ page.title }}</title>
{% include head.html %}
</head>

<body>

    <div id="wideframe">
        {% include header.html %}
        <main class="columns">
            <div class="column-main">


<img src="Brandt_Redd2.jpg" style="float:right; width: 20em; margin: 1em;" alt="Photo of Brandt Redd." />

<ul class="iconlist">
    <li><a href="https://www.byu.edu"><img src="res/BYU.png" alt="B.Y.U." /></a>Visiting Professor at <a href="https://www.byu.edu">Brigham Young University</a> in <strong>Information Technology and Cybersecurity</strong></li>
    <li><a href="https://www.utah.edu"><img src="res/Utah.png" alt="University of Utah" /></a>PhD student at the <a href="https://www.utah.edu">University of Utah</a> in <strong>Computing</strong></li>
</ul>

<p>I research and teach Computer Science, Cybersecurity, Information Technology, and Learning Science. In the education and training fields I seek to apply principles of <a href="http://www.ofthat.com/2013/03/theories-of-education-reform.html">personalized learning</a> to improve achievement for all students.</p>

<h2>Current Research</h2>

<ul>
    <li>Student Misconceptions When Disassembling and Reverse Engineering Software</li>
    <li>Cybersecurity Principles Embedded in Computer Science Education.</li>
</ul>

<h2>Other Efforts</h2>

<ul class="iconlist">
    <li><a href="https://matchmakeredlabs.net"><img src="res/mm32.png" alt="Match Maker Logo" />MatchMaker Education Labs</a></li>
    <li><a href="https://www.edmatrix.org/matrix.html"><img src="res/EdMatrix-Logo32.png" alt="EdMatrix Logo" />EdMatrix</a> Creator and Coordinator</li>
    <li><a href="https://sagroups.ieee.org/ltsc/"><img src="res/IEEE-Logo.png" alt="IEEE Logo" />IEEE Learning Technology Standards Committee</a></li>
    <li><a href="https://www.filemeta.org"><img src="res/FileMeta.png" alt="File Meta" />FileMeta Project</a></li>
</ul>

<h2>Find Me on the Web</h2>

<ul class="iconlist">
    <li><a href="http://www.ofthat.com"><img src="res/RSS.png" alt="Blog Feed" />OfThat Blog</a>, Education, Technology, Energy, and Trust</li>
    <li><a href="http://www.edmatrix.org"><img src="res/EdMatrix-Logo32.png" alt="EdMatrix Logo" />EdMatrix</a> Directory of Learning Technology Standards</li>
    <li><a href="https://github.com/bredd"><img src="res/GitHub.png" alt="GitHub" />GitHub</a></li>
    <li><a href="https://www.linkedin.com/in/brandtredd"><img src="res/LinkedIn.png" alt="LinkedIn" />LinkedIn</a></li>
    <li><a href="https://twitter.com/brandtredd"><img src="res/Twitter.png" alt="Twitter" />Twitter</a></li>
    <li><a href="http://bollard.brandtredd.com"><img src="res/Bollard.png" alt="Bollard" />Brandt's Bollard Blog</a></li>
</ul>

<h2>Select Career Achievements</h2>

<ul>
  <li>Directed the development and deployment of the <a href="http://www.smarterapp.org">SmarterApp</a> suite of open source student assessment technology for the <a href="http://www.smarterbalanced.org">Smarter Balanced Assessment Consortium</a>.</li>
  <li>Co-Conceived and launched the <a href="http://www.lrmi.net/">Learning Resource Metadata Initiative</a> funded by the <a href="https://www.gatesfoundation.org/">Bill &amp; Melinda Gates Foundation</a>.</li>
  <li>Developed the <a href="http://www.ofthat.com/2011/10/personalized-learning-model.html">Personalized Learning Model</a> to guide the educational technology strategy for the <a href="https://www.gatesfoundation.org/">Bill &amp; Melinda Gates Foundation</a>.</li>
  <li>Created an effective and simple IT Operations strategy for the <a href="https://agilix.com/">Buzz Learning System</a> at Agilix Labs.</li>
  <li>Achieved three patents and developed the intellectual property strategy for <a href="http://www.ancestry.com">Ancestry.com</a>.</li>
  <li>Co-invented the search algorithm for Folio Views (now known as <a href="http://folio.com">Rocket Folio</a>) at <a href="https://en.wikipedia.org/wiki/Folio_Corporation">Folio Corporation</a>.</li>
  <li>Co-Founded two successful companies - <a href="https://en.wikipedia.org/wiki/Folio_Corporation">Folio Corporation</a> and <a href="https://agilix.com/">Agilix Labs</a>.</li>
</ul>


<h2>Professional Specialties</h2>

<ul>
  <li>Cybersecurity Education</li>
  <li>Learning Technology Strategy</li>
  <li>Assessment Science and Technology</li>
  <li>Metadata and Data Modeling</li>
  <li>Learning Data Formats and Protocols</li>
  <li>Information Technology and Software Engineering</li>
  <li>Data Security and Cryptography</li>
  <li>Information Search and Retrieval</li>
</ul>

<h1>Education</h1>
<ul>
  <li><strong>PhD Student</strong>, Computing, University of Utah, started 2022</li>
  <li><strong>BS</strong>, Computer Science, Brigham Young University, 1990</li>
  <li><strong>MBA</strong>, Emphasis: Organizational Communication, Brigham Young University, 1994</li>
</ul>

<h1 id="key-roles">Key Roles</h1>
<ul>
  <li>2022-Present: Visiting Professor <a href="https://itc.byu.edu/">Brigham Young University, IT & Cybersecurity</a></li>
  <li>2019-Present: <a href="https://matchmakeredlabs.net/">MatchMaker Education Labs</a></li>
  <li>2013-2018: Chief Information Officer/CTO, <a href="http://www.smarterbalanced.org">Smarter Balanced Assessment Consortium</a></li>
  <li>2010-2013: Senior Technology Officer - US Education Program, <a href="https://www.gatesfoundation.org/">Bill &amp; Melinda Gates Foundation</a></li>
  <li>2001-2010: Co-Founder and Chief Technology Officer, <a href="http://www.agilix.com">Agilix Labs, Inc.</a></li>
  <li>1998-2001: Chief Scientist, <a href="http://www.ancestry.com">Ancestry.com</a></li>
  <li>1996-1998: Sr. Director, Advanced Technology, Open Market Inc.</li>
  <li>1986-1996: Co-Founder and Core Developer, <a href="https://en.wikipedia.org/wiki/Folio_Corporation">Folio Corporation</a></li>
</ul>

<h1 id="patents">Patents</h1>
<ul>
  <li>US 20040059864 Systems and Methods for Storing and Retrieving data in a web server environment</li>
  <li>US 20040059757 Systems and Methods for Partitioning Data on Multiple Servers</li>
  <li>US 8019719 Systems and Methods for Partitioning Data on Multiple Servers</li>
</ul>

<h1 id="favorite-things">Favorite Things</h1>
<p>Family, Learning, Mountains, Choral Music, Skiing, Programming, Photography, Hiking, Engineering, Disney, Beaches, Chocolate, Lakes, Reading, Cycling, Church, Snow, Travel, Electronics, Legos, Dogs, Games, Trees, Aircraft, Dance, Bollards, Trust.</p>

</div> <!-- column-main -->
<div class="column-pub">

    {% capture pubAndPre %}{% include_relative _content/PubAndPre.md %}{% endcapture %}
    {{ pubAndPre | markdownify }}

</div> <!-- column-pub -->

</main>
{% include footer.html %}
</div>

</body>

</html>
